@model List<MagazynApp.Models.Socket>
@{
    ViewData["Title"] = "Shelves";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width"/>
</head>

<body>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Gniazda</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Sektor</th>
                                <th>Aleja</th>
                                <th>Regał</th>
                                <th>Gniazdo</th>
                                <th>Pełna nazwa</th>
                                <th>Przechowuje</th>
                                <th>Maksymalna pojemność</th>
                                <th>Akcje</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Shelf.Alley.Sector.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Shelf.Alley.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Shelf.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                                    <td>@Html.DisplayFor(modelItem => item.MaxCapacity)</td>

                                    <td>
                                        <a class="btn-outline-info btn-sm mr-2" asp-action="SocketDetails" asp-route-socketId="@item.Id">Szczegóły</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>