@using static MagazynApp.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Magazyn</span>
    </a>
    <div class="sidebar">
        @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>*@
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home", "index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>

                @*Products*@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Produkty
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Products" asp-action="Index" class="nav-link @Url.MakeActiveClass("products", "index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Lista produktów</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="ProductTypes" asp-action="Index" class="nav-link @Url.MakeActiveClass("producttypes", "index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Typy produktów</p>
                            </a>
                        </li>
                    </ul>
                </li>

                @*Orders*@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Zamówienia
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Orders" asp-action="Index" class="nav-link @Url.MakeActiveClass("orders", "index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Zamówienia wychodzące</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Supplies" asp-action="Index" class="nav-link @Url.MakeActiveClass("supplies", "index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Zamówienia Przychodzące</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Clients" asp-action="Index" class="nav-link @Url.MakeActiveClass("clients", "index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Klienci</p>
                            </a>
                        </li>
                    </ul>
                </li>

                @*Magazyn*@
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-table"></i>
                        <p>
                            Magazyn
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Warehouse" asp-action="Sectors" class="nav-link @Url.MakeActiveClass("warehouse", "sectors")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sektory</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Warehouse" asp-action="Alleys" class="nav-link @Url.MakeActiveClass("warehouse", "alleys")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Aleje</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Warehouse" asp-action="Shelves" class="nav-link @Url.MakeActiveClass("warehouse", "shelves")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Regały</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Warehouse" asp-action="Sockets" class="nav-link @Url.MakeActiveClass("warehouse", "sockets")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Gniazda regałowe</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Warehouse" asp-action="ProductsLocation" class="nav-link @Url.MakeActiveClass("warehouse", "productslocation")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rozmieszczenie produktów</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item ">
                    <a asp-controller="AdminPanel" asp-action="Index" class="nav-link @Url.MakeActiveClass("adminpanel", "index")">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                            Panel administracyjny
                        </p>
                    </a>
                </li>

                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Privacy" class="nav-link @Url.MakeActiveClass("home", "privacy")">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                            Privacy
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>