@model List<MagazynApp.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

}

<head>
    <meta name="viewport" content="width=device-width" />
</head>

<h1>@TempData["Message"]</h1>

<body>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-block btn-outline-info" asp-action="Create">Dodaj nowy produkt</a>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Produkty</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nazwa</th>
                                        <th>Ilość</th>
                                        <th>Cena</th>
                                        <th>Typ</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Type.Name)
                                            </td>
                                            <td>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="btn-group mb-2">
                                                            <a class="btn-outline-primary btn-sm mr-2" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                                                            <a class="btn-outline-info btn-sm mr-2" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                                                            <a class="btn-outline-danger btn-sm mr-2" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="btn-group">
                                                            <form asp-controller="ShoppingCart" asp-action="AddToShoppingCart">
                                                                <div class="input-group">
                                                                    <input value="@item.Id" name="productId" type="hidden" />
                                                                    <input value="1" name="amount" class="form-control rounded-0">
                                                                    <span class="input-group-append">
                                                                        <button type="submit" class="btn btn-info btn-xs">Dodaj do koszyka</button>
                                                                    </span>
                                                                </div>
                                                            </form>
                                                            <form asp-controller="Supplies" asp-action="CreateSupply">
                                                                <div class="input-group ml-3">
                                                                    <input value="@item.Id" name="productId" type="hidden" />
                                                                    <input value="1" name="amount" class="form-control rounded-0">
                                                                    <span class="input-group-append">
                                                                        <button type="submit" class="btn btn-info btn-xs">Uzupełnij</button>
                                                                    </span>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>

@*@{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }*@

@*<footer class="border-top footer text-muted">
        <div id="container">
            <div id="left">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    Previous
                </a>
            </div>

            <div id="center">@(Model.PageIndex) - @(Model.TotalPages)</div>

            <div id="right">
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    Next
                </a>
            </div>
        </div>
    </footer>*@

