@model IEnumerable<MagazynApp.Models.Supply>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Zamówienia przychodzące</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Nazwa produktu</th>
                                        <th>Ilośc)</th>
                                        <th>Stan</th>
                                        <th>Data zamówienia</th>
                                        <th>Data realizacji</th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Product.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Amount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OrderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompletionDate)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <form asp-action="DeleteSupply" asp-controller="Supplies">
                                                    <input value="@item.Id" type="hidden" name="supplyId" />
                                                    <button class="btn-outline-danger btn-xs mr-1" type="submit">Usuń</button>
                                                </form>
                                                @*<a class="btn-outline-info btn-xs" asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                                                <form asp-action="CompleteSupply" asp-controller="Supplies">
                                                    <input value="@item.Id" type="hidden" name="supplyId" />
                                                    <button class="btn-outline-success btn-xs mr-1" type="submit">Zrealizuj</button>
                                                </form>
                                            </div>

                                        </td>

                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>